{% extends 'OptionBundle::layout.html.twig' %}

{% block head %}
    {{ parent() }}

    <style>
        td {
            padding: 3px;
        }

        .option-type {
            display: inline-block;
            width: 25px;
            padding: 10px;
        }

        .option-strike {
            display: inline-block;
            width: 40px;
            font-weight: bold;
            padding: 10px;
        }

        .price.green {
            color: green;
            font-weight: bold;
        }

        .price.red {
            color: red;
            font-weight: bold;
        }

    </style>
{% endblock head %}

{% block body %}
    {% if options|default %}
        {% for option in options %}
            <div>
                <span class="option-type">{{ option.type }}</span>
                <span class="option-strike">{{ option.strike }}</span>
                <table border="1" bordercolor="lightgrey" cellspacing="0">
                    {% for price in option.prices %}
                        {% set currentOptionPrice = price.optionPrice %}

                        {% set optionPriceColor = 'white' %}
                        {% if lastOptionPrice is defined and lastOptionPrice < currentOptionPrice %}
                            {% set optionPriceColor = 'green' %}
                        {% elseif lastOptionPrice is defined and lastOptionPrice > currentOptionPrice %}
                            {% set optionPriceColor = 'red' %}
                        {% endif %}

                        <tr>
                            <td>{{ price.date }}</td>
                            <td>{{ price.futuresPrice }}</td>
                            <td class="price {{ optionPriceColor }}">{{ currentOptionPrice }}</td>
                        </tr>

                        {% set lastOptionPrice = currentOptionPrice %}
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    {% else %}
        <div>No options was found.</div>
    {% endif %}
{% endblock body %}
