{% extends 'OptionBundle::layout.html.twig' %}

{% block right_menu %}
    {{ parent() }}
        {% if showExpirated is not defined %}
            <a href="{{ path('option_options_all') }}">Показать эксперированные</a>
        {% else %}
            <a href="{{ path('option_options_list') }}">Скрыть эксперированные</a>
        {% endif %}
{% endblock right_menu %}

{% block content %}
    <h3>Список контрактов:</h3>

    {% for futures in futuresList %}
        <div><a href="{{ futures.code }}">{{ futures.code }}</a>
            {% if futures.daysToExpiration > 0 %}
                ({{ futures.daysToExpiration }} дней до экспирации)
            {% else %}
                <span style="color: #b0b0b0;">(опцион эксперирован)</span>
            {% endif %}
        </div>
    {% endfor %}

{% endblock content %}
