{% extends 'OptionBundle::layout.html.twig' %}

{% block content %}
    <img src="/volatility.png" alt="volatility chart">

    {% if options|default %}
        {% for option in options %}
            <div>
                <span class="option-type">{{ option.type }}</span>
                <span class="option-strike">{{ option.strike }}</span>
                <table border="1" bordercolor="lightgrey" cellspacing="0">
                    {% for price in option.prices %}
                        {% set currentOptionPrice = price.optionPrice %}
                        {% set currentFuturesPrice = price.futuresPrice %}

                        {% set optionPriceColor = 'white' %}
                        {% if lastOptionPrice is defined and lastOptionPrice < currentOptionPrice %}
                            {% set optionPriceColor = 'green' %}
                        {% elseif lastOptionPrice is defined and lastOptionPrice > currentOptionPrice %}
                            {% set optionPriceColor = 'red' %}
                        {% endif %}

                        {% set futuresPriceColor = 'white' %}
                        {% if lastFuturesPrice is defined and lastFuturesPrice < currentFuturesPrice %}
                            {% set futuresPriceColor = 'green' %}
                        {% elseif lastFuturesPrice is defined and lastFuturesPrice > currentFuturesPrice %}
                            {% set futuresPriceColor = 'red' %}
                        {% endif %}

                        <tr>
                            <td>{{ price.date }}</td>
                            <td class="price {{ futuresPriceColor }}">{{ price.futuresPrice }}</td>
                            <td class="price {{ optionPriceColor }}">{{ currentOptionPrice }}</td>

                            <td>
                                {% if loop.last %}
                                    <a href="{{ path(
                                    'option_trade_open', {
                                        'direction': 'sell',
                                        'optionPriceId': price.id,
                                        'volume': 1
                                    }) }}">
                                        <button>продать</button>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>

                        {% set lastOptionPrice = currentOptionPrice %}
                        {% set lastFuturesPrice = currentFuturesPrice %}
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    {% else %}
        <div>No options was found.</div>
    {% endif %}
{% endblock content %}
