{% extends 'OptionBundle::layout.html.twig' %}

{% block content %}

    {% if openedTrades is empty %}
        <h3>Открытых сделок нет</h3>
    {% else %}
        <h3>Открытые сделки:</h3>

        <table border="1" bordercolor="lightgrey" cellspacing="0">
            <tr>
                <td>фьючерс</td>
                <td>экспирация</td>
                <td>тип</td>
                <td>открытие</td>
                <td>объем</td>
                <td>цена</td>
                <td>высшая цена</td>
                <td>низшая цена</td>
            </tr>
            {% for openedTrade in openedTrades %}
                {% set futures = openedTrade.openPrice.optionContract.futures %}
                {% set openedPrice = openedTrade.openPrice %}
                {% set highOptionPrice = openedTrade.highPrice.optionPrice %}
                {% set lowOptionPrice = openedTrade.lowPrice.optionPrice %}

                <tr>
                    <td>{{ futures.symbol.symbol }}</td>
                    <td>{{ futures.expiration }} ({{ futures.daysToExpiration }})</td>
                    <td>{{ openedTrade.direction }} {{ openedPrice.optionContract.type }}</td>
                    <td>{{ openedPrice.date }}</td>
                    <td>{{ openedTrade.volume }}</td>
                    <td>{{ openedPrice.optionPrice }}</td>
                    <td>{{ highOptionPrice }}</td>
                    <td>{{ lowOptionPrice }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if closedTrades is empty %}
        <h3>Закрытых сделок нет</h3>
    {% else %}
        <h3>Закрытые сделки:</h3>

        <table border="1" bordercolor="lightgrey" cellspacing="0">
            <tr>
                <td>фьючерс</td>
                <td>экспирация</td>
                <td>тип</td>
                <td>объем</td>
                <td>открытие</td>
                <td>закрытие</td>
                <td>цена открытия</td>
                <td>цена закрытия</td>
                <td>высшая цена</td>
                <td>низшая цена</td>
                <td>результат</td>
            </tr>
            {% for closedTrade in closedTrades %}
                {% set futures = closedTrade.closePrice.optionContract.futures %}
                {% set optionPointPrice = futures.symbol.optionPointPrice %}
                {% set openedPrice = closedTrade.openPrice %}
                {% set closedPrice = closedTrade.closePrice %}
                {% set openedOptionPrice = openedPrice.optionPrice %}
                {% set closedOptionPrice = closedPrice.optionPrice %}
                {% set highOptionPrice = closedTrade.highPrice.optionPrice %}
                {% set lowOptionPrice = closedTrade.lowPrice.optionPrice %}

                {% if closedTrade.directionBuy %}
                    {% set tradeResult = closedOptionPrice - openedOptionPrice %}
                {% else %}
                    {% set tradeResult = openedOptionPrice - closedOptionPrice %}
                {% endif %}

                <tr>
                    <td>{{ futures.symbol.symbol }}</td>
                    <td>{{ futures.expiration }}</td>
                    <td>{{ closedTrade.direction }} {{ closedPrice.optionContract.type }}</td>
                    <td>{{ closedTrade.volume }}</td>
                    <td>{{ openedPrice.date }}</td>
                    <td>{{ closedPrice.date }}</td>
                    <td>{{ openedOptionPrice }}</td>
                    <td>{{ closedOptionPrice }}</td>
                    <td>{{ highOptionPrice }}</td>
                    <td>{{ lowOptionPrice }}</td>
                    <td>{{ tradeResult * closedTrade.volume * optionPointPrice }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock content %}
