{% extends 'OptionBundle::layout.html.twig' %}

{% block content %}

    {% if openedTrades is empty %}
        <h3>Открытых сделок нет</h3>
    {% else %}
        <h3>Открытые сделки:</h3>

        <table border="1" bordercolor="lightgrey" cellspacing="0" class="center">
            <tr>
                <td>фьючерс</td>
                <td>экспирация</td>
                <td>тип</td>
                <td>страйк</td>
                <td>цена фьючерса</td>
                <td>маржа</td>
                <td>дата</td>
                <td>объем</td>
                <td>открытие</td>
                <td>цена</td>
                <td>высшая</td>
                <td>низшая</td>
                <td>результат</td>
                <td></td>
            </tr>

            {% set openProfitOverall = 0 %}
            {% set openMarginOverall = 0 %}
            {% for openedTrade in openedTrades %}
                {% if openedTrade.profit > 0 %}
                    {% set tradeResultColor = "bg-green" %}
                {% else %}
                    {% set tradeResultColor = "bg-red" %}
                {% endif %}
                {% set openProfitOverall = openProfitOverall + openedTrade.profit %}
                {% set openMarginOverall = openMarginOverall + openedTrade.margin %}

                <tr>
                    <td>
                        <a href="{{ path('option_option_show_prices', {'futuresCode': openedTrade.futures})
                            ~ '#option-' ~ openedTrade.strike }}">
                            {{ openedTrade.futures }}
                        </a>
                    </td>
                    <td>{{ openedTrade.expiration }}</td>
                    <td>{{ openedTrade.type }}</td>
                    <td>{{ openedTrade.strike }}</td>
                    <td>{{ openedTrade.futuresPrice }}</td>
                    <td>{{ openedTrade.margin }}</td>
                    <td>{{ openedTrade.openDate }}</td>
                    <td>{{ openedTrade.volume }}</td>
                    <td>{{ openedTrade.openPrice }}</td>
                    <td>{{ openedTrade.currentPrice }}</td>
                    <td>{{ openedTrade.highPrice }}</td>
                    <td>{{ openedTrade.lowPrice }}</td>
                    <td class="{{ tradeResultColor }}">{{ openedTrade.profit }} $</td>
                    <td>
                        <a href="{{ path(
                        'option_trade_close', {
                            'optionPriceId': openedTrade.optionPriceId,
                            'tradeId': openedTrade.tradeId
                        }) }}">
                            <button>закрыть</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            {% if openProfitOverall > 0 %}
                {% set openPercentOverall = openProfitOverall / openMarginOverall * 100 %}
                {% set openPercentOverallResultColor = "bg-green" %}
            {% else %}
                {% set openPercentOverall = 0 %}
                {% set openPercentOverallResultColor = "bg-red" %}
            {% endif %}

            {% if openProfitOverall > 0 %}
                {% set openProfitOverallResultColor = "bg-green" %}
            {% else %}
                {% set openProfitOverallResultColor = "bg-red" %}
            {% endif %}

            <tr>
                <td colspan="8"></td>
                <td>маржа</td>
                <td>{{ openMarginOverall }}</td>
                <td></td>
                <td class="{{ openPercentOverallResultColor }}">
                    <span class="bold">{{ openPercentOverall|round(2) }}</span> %
                </td>
                <td class="{{ openProfitOverallResultColor }}"><span class="bold">{{ openProfitOverall }}</span> $</td>
                <td></td>
            </tr>
        </table>
    {% endif %}

    {% if closedTrades is empty %}
        <h3>Закрытых сделок нет</h3>
    {% else %}
        <h3>Закрытые сделки:</h3>

        <table border="1" bordercolor="lightgrey" cellspacing="0" class="center">
            <tr>
                <td>фьючерс</td>
                <td>экспирация</td>
                <td>тип</td>
                <td>объем</td>
                <td>открытие</td>
                <td>закрытие</td>
                <td>цена открытия</td>
                <td>цена закрытия</td>
                <td>высшая цена</td>
                <td>низшая цена</td>
                <td>результат</td>
            </tr>

            {% set closeProfitOverall = 0 %}
            {% set closeMarginAverage = 0 %}
            {% for closedTrade in closedTrades %}
                {% set futures = closedTrade.closePrice.optionContract.futures %}
                {% set optionPointPrice = futures.symbol.optionPointPrice %}
                {% set openedPrice = closedTrade.openPrice %}
                {% set closedPrice = closedTrade.closePrice %}
                {% set openedOptionPrice = openedPrice.optionPrice %}
                {% set closedOptionPrice = closedPrice.optionPrice %}
                {% set highOptionPrice = closedTrade.highPrice.optionPrice %}
                {% set lowOptionPrice = closedTrade.lowPrice.optionPrice %}

                {% if closedTrade.directionBuy %}
                    {% set tradeResult = closedOptionPrice - openedOptionPrice %}
                {% else %}
                    {% set tradeResult = openedOptionPrice - closedOptionPrice %}
                {% endif %}

                {% if closedTrade.expired and closedTrade.directionSell %}
                    {% if tradeResult >= 0 %}
                        {% set tradeResult = openedOptionPrice %}
                    {% endif %}
                {% endif %}

                {% set tradeResultMoney = tradeResult * closedTrade.volume * optionPointPrice %}

                {% if tradeResultMoney > 0 %}
                    {% set tradeResultColor = "bg-green" %}
                {% else %}
                    {% set tradeResultColor = "bg-red" %}
                {% endif %}

                {% set closeProfitOverall = closeProfitOverall + tradeResultMoney %}

                {% set closeMarginAverage = closeMarginAverage + futures.margin %}

                <tr class="{{ closedTrade.expired ? tradeResultColor : '' }}">
                    <td>
                        {{ futures.symbol.symbol }}
                    </td>
                    <td>{{ futures.expiration }}</td>
                    <td>{{ closedTrade.direction }} {{ closedPrice.optionContract.type }}</td>
                    <td>{{ closedTrade.volume }}</td>
                    <td>{{ openedPrice.day }}</td>
                    <td>{{ closedPrice.day }}</td>
                    <td>{{ openedOptionPrice }}</td>
                    <td>{{ closedOptionPrice }}</td>
                    <td>{{ highOptionPrice }}</td>
                    <td>{{ lowOptionPrice }}</td>
                    <td class="{{ tradeResultColor }}">{{ tradeResultMoney }} $</td>
                </tr>
            {% endfor %}

            {% if closeProfitOverall > 0 %}
                {% set closeProfitOverallResultColor = "bg-green" %}
            {% else %}
                {% set closeProfitOverallResultColor = "bg-red" %}
            {% endif %}

            {# Средняя маржа всех закрытых сделок #}
            {% set closeMarginAverage = closeMarginAverage / closedTrades|length %}

            <tr>
                <td colspan="9"></td>
                <td class="{{ closeProfitOverallResultColor }}"><span class="bold">{{ (closeProfitOverall / 64)|round(2) }}</span> %</td>
                <td class="{{ closeProfitOverallResultColor }}"><span class="bold">{{ closeProfitOverall }}</span> $</td>
            </tr>
        </table>
    {% endif %}

{% endblock content %}
